{% extends "parent.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">

<div class="content-container">
    <h1>Who We Are</h1>
    <p>
        We are enthusiasts committed to addressing AI disparities that exist in our communities in terms of knowledge, access, and usage. No matter which background you come from, there are many ways to contribute to the advancement of AI.
    </p>

    <h1>Why This Initiative?</h1>
    <p>
        There's a notable disparity between the rapid advancement of AI systems and the pace at which ordinary citizens are adapting. Consequently, there's a pressing need to engage with the public about AI.
    </p>

    <h1>Mission</h1>
    <p>
        Our mission is to empower communities through AI education and its application in real-world scenarios.
    </p>
</div>
{% endblock content %}

