{% extends "parent.html" %}
{% block content %}
<div class="resume">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bios.css') }}">
    <div class="section">
        
        <p>Software developer with a background in ljournalism and customer support,and a enthusiasm for AI. Looking to leverage my analytical and programming skills to solve business problems.
            Get a detailed <a href="{{ url_for('main.contact') }}" style="color: blue; text-decoration: none;">resume</a> for more about Didier's Skills,Education,Experience and Projects.
        </p>
    </div>
</div>
{% endblock %}

