{% block content %}
<div class="resume">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bios.css') }}">
    <div class="section">
        
        <p>Creates scalable solutions for complex problems by using simple and yet effective algorithms. I have proven ability to maintain and enhance company applications with the aim of improving operational functionality in line with business requirements.
            Get a detailed <a href="{{ url_for('main.contact') }}" style="color: blue; text-decoration: none;">resume</a> for more about Fidele's Skills, Education,Experience and Projects.
        </p>
    </div>
</div>
{% endblock %}
