{% extends "parent.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
<div class="login-container">
    <h1>Login</h1>
    <form method="POST" action="">
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
        <div class="form-row">
            <div class="form-group">
                {{ form.username(class="form-control", placeholder="Username") }}
            </div>
            <div class="form-group">
                {{ form.password(class="form-control", placeholder="Password") }}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn") }}
            </div>
        </div>
        
        <div class="form-group form-check">
            {{ form.remember_me(class="form-check-input") }}
            {{ form.remember_me.label(class="form-check-label") }}
        </div>
    </form>
    
    <a href="{{ url_for('main.register') }}" class="register-link">No account? Sign up</a>
</div>
{% endblock %}


