<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}technow{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/parent.css') }}">
</head>
<body>

<header class="header">
  <div class="header-background">
    <div class="container">
      <a href="#" class="logo"></a> 
    </div>
  </div>
  <div class="navdiv">
    <nav>
      <ul class="nav-links">
        <li><a href="{{ url_for('main.about') }}">About</a></li>
        <li><a href="{{ url_for('main.home') }}">Home</a></li>
        <li><a href="{{ url_for('main.blogs') }}">Blogs</a></li>
        <li><a href="{{ url_for('main.staff') }}">Team</a></li>
        <li><a href="{{ url_for('main.contact') }}">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>

<main class="content">
    
    {% block content %}{% endblock %}
</main>

</body>
</html>
