
{% extends "parent.html" %}
{% block content %}
<div class="post-container">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/singlepost.css') }}">
    <div class="post">
        {% if post.author == current_user %}
        <div class="post-buttons">
            <a href="{{ url_for('main.update2', post_id=post.id) }}" class="btn update-btn">Update Post</a>
            <a href="{{ url_for('main.delete_post', post_id=post.id) }}" class="btn delete-btn">Delete Post</a>
        </div>
        {% endif %}
        <div class="post-header">
            <h2>{{ post.title }}</h2>
        </div>
        <p>{{ post.content }}</p>
    </div>
</div>
{% endblock content %}





  

