{% extends "parent.html" %}
{% block content %}
<div class="resume">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bios.css') }}">
    <div class="section">
        
        <p>Software developer with a strong background in linguistics and a passion for Artificial Intelligence (AI). Looking to reconcile technology and humanities.
            Get a detailed <a href="{{ url_for('contact') }}" style="color: blue; text-decoration: none;">resume</a> for more about Didier's Skills,Education,Experience and Projects.
        </p>
    </div>
</div>
{% endblock %}

