{% extends "parent.html" %}
{% block content %}
<div class="resume">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bios.css') }}">
    <div class="section">
        
        <p>Software and DevOps Engineer fascinated by AI, and leveraging skills in both computer science and music production to solve problems of societal impact.
            Get a detailed <a href="{{ url_for('contact') }}" style="color: blue; text-decoration: none;">resume</a> for more about Yves' Skills, Education,Experience and Projects.
        </p>
    </div>
</div>
{% endblock %}