/* Styles for the main content */
h1 {
    font-size: 15px;
    margin-top:10px;
    margin-bottom: 10px;
    text-align: center; /* Align titles to the center */
}

/* Remove underline from h1 */
h1 {
    border-bottom: none; /* Remove underline */
}

p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
    border: 1px solid #ccc; /* Add border around paragraphs */
    padding: 10px; /* Add padding around paragraphs */
    border-radius: 10px; /* Add rounded corners to paragraphs */
    margin-left: 10px; /* Add left margin */
}

ol {
    list-style-type: decimal;
    margin-left: 20px;
    border: 1px solid #ccc; /* Add border around the list */
    padding: 10px; /* Add padding around the list */
    border-radius: 10px; /* Add rounded corners to the list */
}

li {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
}

